src/slim/index.slim
doctype html
html[ng-app="barashekApp"]
  head
    meta[charset="UTF-8"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    meta[name="theme-color" content="#350b0b"]
    link[rel="icon" sizes="192x192" href="/i/layout/favicon.png"]
    title Барашек
    css: [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important;} body *,body *:before,body *:after{box-sizing:border-box}body:before{content:'Загрузка';text-align:center;color:#222;font-size:14px;line-height:150vh;letter-spacing:1px;font-family:"Helvetica Neue",Helvetica,sans-serif;font-weight:100;position:fixed;top:0;left:0;display:block;width:100%;height:100vh;background:#f6f4f3;z-index:100000;opacity:0;transition:opacity .2s;pointer-events:none}body:after{content:'';position:fixed;top:50%;left:0;right:0;margin:0 auto;display:block;width:40px;height:40px;z-index:100001;border-radius:30%;opacity:0;transition:opacity .2s;pointer-events:none}body.is-loading{overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}body.is-loading:before{opacity:1;pointer-events:auto}body.is-loading:after{opacity:1;pointer-events:auto;-webkit-animation:isLoading infinite 1s ease-out;animation:isLoading infinite 1s ease-out}@-webkit-keyframes isLoading{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);box-shadow:inset 0px 0px 0 40px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),-15px 15px 0 0px rgba(0,0,0,0.5),-15px -15px 0 0px rgba(0,0,0,0.5),15px -15px 0 0px rgba(0,0,0,0.5),15px 15px 0 0px rgba(0,0,0,0.5)}50%{box-shadow:inset 0px 0px 0 1px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);box-shadow:inset 0px 0px 0 40px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),-15px 15px 0 0px rgba(0,0,0,0.5),-15px -15px 0 0px rgba(0,0,0,0.5),15px -15px 0 0px rgba(0,0,0,0.5),15px 15px 0 0px rgba(0,0,0,0.5)}}@keyframes isLoading{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);box-shadow:inset 0px 0px 0 40px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),-15px 15px 0 0px rgba(0,0,0,0.5),-15px -15px 0 0px rgba(0,0,0,0.5),15px -15px 0 0px rgba(0,0,0,0.5),15px 15px 0 0px rgba(0,0,0,0.5)}50%{box-shadow:inset 0px 0px 0 1px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);box-shadow:inset 0px 0px 0 40px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),-15px 15px 0 0px rgba(0,0,0,0.5),-15px -15px 0 0px rgba(0,0,0,0.5),15px -15px 0 0px rgba(0,0,0,0.5),15px 15px 0 0px rgba(0,0,0,0.5)}}
    base[href="/"]
    link[rel="stylesheet" href="css/style.css"]
    script[src="js/app.js"]
  body[ng-cloak ng-controller="globalCtrl" ng-class="{'has-modal' : state.modalOpened, 'is-loading': state.isLoading}"]
    / page-loader



    .lyt-header[sticky-header]
      .header
        .header_nav[ng-cloak ng-class="{'is-opened' : state.sideMenuOpened}"]
          a.header_nav-trig[href="#" ng-click="state.sideMenuOpened = !state.sideMenuOpened"]
          .header_nav-content
            .header_nav-left
              span.header_nav-link
                i.icon.icon_marker
                | Йошкар-Ола
              a.header_nav-link.is-visible-mob.is-phone(href="tel:8362500685") (8362) 500-685

            .header_nav-mid.is-hidden-mob
              | Прием заказов: с 10:00 до 22:00, доставка: с 10:00 до 23:00
            .header_nav-right[ng-if="!state.userLogedIn"]
              a.header_nav-link[href="" ng-click="showLoginModal('login')"] Вход
              span.is-hidden-mob
                | &nbsp;|&nbsp;
              a.header_nav-link[href="" ng-click="showLoginModal('register')"] Регистрация
            .header_nav-right[ng-if="state.userLogedIn"]
              span.header_nav-link
                | {{state.userData.name}}
              span.is-hidden-mob
                | &nbsp;|&nbsp;
              a.header_nav-link[href="" ng-click="logout()"] Выйти

            .header_nav-logo.is-visible-mob
              small Доставка блюд узбекской кухни
        .header_content
          .header_content-left
            span.header_contacts
              a.header_contacts-item(href="tel:8362500685") (8362) 500-685
              a.header_contacts-link(href="#") Перезвоните мне

          .header_content-mid
            a.header_logo(href="/")
              small Доставка блюд узбекской кухни

          .header_content-right
            span.header_basket
              a.basket[href="/basket" ng-controller="basketCtrl" title="Корзина"]
                span[class="basket_content" ng-class="xTimes"]
                  span[class="basket_content-img"]
                    img[src="/i/layout/basket.svg" alt=""]
                  span.basket_content-count
                    | {{totalCount}}
                span.basket_sum
                  | {{orderSum}}
                  span.rub руб.

    div.lyt-view[ng-view]


    .lyt-footer
      .footer
        .footer_content
          .footer_social
            .likely.likely-light
              .vkontakte[data-url="#"] Share
              .facebook[data-url="#"] Share
              .twitter[data-url="#"] Tweet

          .footer_copy © Barashek 2016

    / auth-modal

    /remove this on deploy
    / script src="//cdn.jsdelivr.net/livejs/4/live.js"

build/index.html
<!DOCTYPE html><html ng-app="barashekApp"><head><meta charset="UTF-8" /><meta content="width=device-width, initial-scale=1" name="viewport" /><meta content="#350b0b" name="theme-color" /><link href="/i/layout/favicon.png" rel="icon" sizes="192x192" /><title>Барашек</title><style type="text/css">[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak { display: none !important;} body *,body *:before,body *:after{box-sizing:border-box}body:before{content:'Загрузка';text-align:center;color:#222;font-size:14px;line-height:150vh;letter-spacing:1px;font-family:"Helvetica Neue",Helvetica,sans-serif;font-weight:100;position:fixed;top:0;left:0;display:block;width:100%;height:100vh;background:#f6f4f3;z-index:100000;opacity:0;transition:opacity .2s;pointer-events:none}body:after{content:'';position:fixed;top:50%;left:0;right:0;margin:0 auto;display:block;width:40px;height:40px;z-index:100001;border-radius:30%;opacity:0;transition:opacity .2s;pointer-events:none}body.is-loading{overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}body.is-loading:before{opacity:1;pointer-events:auto}body.is-loading:after{opacity:1;pointer-events:auto;-webkit-animation:isLoading infinite 1s ease-out;animation:isLoading infinite 1s ease-out}@-webkit-keyframes isLoading{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);box-shadow:inset 0px 0px 0 40px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),-15px 15px 0 0px rgba(0,0,0,0.5),-15px -15px 0 0px rgba(0,0,0,0.5),15px -15px 0 0px rgba(0,0,0,0.5),15px 15px 0 0px rgba(0,0,0,0.5)}50%{box-shadow:inset 0px 0px 0 1px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);box-shadow:inset 0px 0px 0 40px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),-15px 15px 0 0px rgba(0,0,0,0.5),-15px -15px 0 0px rgba(0,0,0,0.5),15px -15px 0 0px rgba(0,0,0,0.5),15px 15px 0 0px rgba(0,0,0,0.5)}}@keyframes isLoading{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg);box-shadow:inset 0px 0px 0 40px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),-15px 15px 0 0px rgba(0,0,0,0.5),-15px -15px 0 0px rgba(0,0,0,0.5),15px -15px 0 0px rgba(0,0,0,0.5),15px 15px 0 0px rgba(0,0,0,0.5)}50%{box-shadow:inset 0px 0px 0 1px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5),0px 0px 0 0px rgba(0,0,0,0.5)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg);box-shadow:inset 0px 0px 0 40px rgba(0,0,0,0.5),inset 0px 0px 0 40px rgba(0,0,0,0.1),-15px 15px 0 0px rgba(0,0,0,0.5),-15px -15px 0 0px rgba(0,0,0,0.5),15px -15px 0 0px rgba(0,0,0,0.5),15px 15px 0 0px rgba(0,0,0,0.5)}}</style><base href="/" /><link href="css/style.css" rel="stylesheet" /><script src="js/app.js"></script></head><body ng-class="{&#39;has-modal&#39; : state.modalOpened, &#39;is-loading&#39;: state.isLoading}" ng-cloak="" ng-controller="globalCtrl"><div class="lyt-header" sticky-header=""><div class="header"><div class="header_nav" ng-class="{&#39;is-opened&#39; : state.sideMenuOpened}" ng-cloak=""><a class="header_nav-trig" href="#" ng-click="state.sideMenuOpened = !state.sideMenuOpened"></a><div class="header_nav-content"><div class="header_nav-left"><span class="header_nav-link"><i class="icon icon_marker"></i>Йошкар-Ола</span><a class="header_nav-link is-visible-mob is-phone" href="tel:8362500685">(8362) 500-685</a></div><div class="header_nav-mid is-hidden-mob">Прием заказов: с 10:00 до 22:00, доставка: с 10:00 до 23:00</div><div class="header_nav-right" ng-if="!state.userLogedIn"><a class="header_nav-link" href="" ng-click="showLoginModal(&#39;login&#39;)">Вход</a><span class="is-hidden-mob">&nbsp;|&nbsp;</span><a class="header_nav-link" href="" ng-click="showLoginModal(&#39;register&#39;)">Регистрация</a></div><div class="header_nav-right" ng-if="state.userLogedIn"><span class="header_nav-link">{{state.userData.name}}</span><span class="is-hidden-mob">&nbsp;|&nbsp;</span><a class="header_nav-link" href="" ng-click="logout()">Выйти</a></div><div class="header_nav-logo is-visible-mob"><small>Доставка блюд узбекской кухни</small></div></div></div><div class="header_content"><div class="header_content-left"><span class="header_contacts"><a class="header_contacts-item" href="tel:8362500685">(8362) 500-685</a><a class="header_contacts-link" href="#">Перезвоните мне</a></span></div><div class="header_content-mid"><a class="header_logo" href="/"><small>Доставка блюд узбекской кухни</small></a></div><div class="header_content-right"><span class="header_basket"><a class="basket" href="/basket" ng-controller="basketCtrl" title="Корзина"><span class="basket_content" ng-class="xTimes"><span class="basket_content-img"><img alt="" src="/i/layout/basket.svg" /></span><span class="basket_content-count">{{totalCount}}</span></span><span class="basket_sum">{{orderSum}}<span class="rub">руб.</span></span></a></span></div></div></div></div><div class="lyt-view" ng-view=""></div><div class="lyt-footer"><div class="footer"><div class="footer_content"><div class="footer_social"><div class="likely likely-light"><div class="vkontakte" data-url="#">Share</div><div class="facebook" data-url="#">Share</div><div class="twitter" data-url="#">Tweet</div></div></div><div class="footer_copy">© Barashek 2016</div></div></div></div></body></html>
