src/slim/templates/login-modal.slim
.modal_backdrop
.modal
  .modal_wrap[ng-switch on="tabType"]
    .modal_close[ng-click="close()"] &times;
    .auth_modal
      .auth_modal-tab[ng-switch-when="login"]
        .modal_section
          h2 Вход
          form.form
            .form_row
              input[placeholder="Ваш мобильный телефон" type="text"]
            .form_row
              input[placeholder="Ваш пароль" type="text"]
            .form_row
              button.btn[type="submit"] Войти
            .form_row
              a[href="#" ng-click="switchTab('recover')"] Забыли пароль?
        .modal_section
          h3 Войти через
          a.btn-social.is-google[social-login="google" href="#"]
            i.icon.icon_google
          a.btn-social.is-vk[social-login="vk" href="#"]
            i.icon.icon_vk
          a.btn-social.is-ok[social-login="ok" href="#"]
            i.icon.icon_ok
        .modal_section
          span.auth_modal-switch
            ' Первый раз на сайте?
            a[href="#" ng-click="switchTab('register')"] Зарегистрируйтесь
      .auth_modal-tab[ng-switch-when="register"]
        .modal_section
          h2 Регистрация
          form.form
            .form_row
              input[placeholder="Ваш мобильный телефон" type="text"]
            .form_row
              input[placeholder="Ваш пароль" type="text"]
            .form_row
              button.btn[type="submit"] Войти
            .form_row
              | Нажимая кнопку «Продолжить» 
              br
              ' вы принимаете
              a[href="#"] Условия соглашения
        .modal_section
          h3 Зарегистрироваться через
          a.btn-social.is-google[social-login="google" href="#"]
            i.icon.icon_google
          a.btn-social.is-vk[social-login="vk" href="#"]
            i.icon.icon_vk
          a.btn-social.is-ok[social-login="ok" href="#"]
            i.icon.icon_ok
        .modal_section
          span.auth_modal-switch
            ' Уже зарегистрированны?
            a[href="#" ng-click="switchTab('login')"] Войдите
      .auth_modal-tab[ng-switch-when="recover"]
        .modal_section
          h2 Восстановление пароля
          form.form
            .form_row
              input[placeholder="Ваш мобильный телефон" type="text"]
            .form_row
              button.btn[type="submit"] Отправить новый пароль
        .modal_section
          span.auth_modal-switch
            ' Уже зарегистрированны?
            a[href="#" ng-click="switchTab('login')"] Войдите

build/templates/login-modal.html
<div class="modal_backdrop"></div><div class="modal"><div class="modal_wrap" ng-switch="" on="tabType"><div class="modal_close" ng-click="close()">&times;</div><div class="auth_modal"><div class="auth_modal-tab" ng-switch-when="login"><div class="modal_section"><h2>Вход</h2><form class="form"><div class="form_row"><input placeholder="Ваш мобильный телефон" type="text" /></div><div class="form_row"><input placeholder="Ваш пароль" type="text" /></div><div class="form_row"><button class="btn" type="submit">Войти</button></div><div class="form_row"><a href="#" ng-click="switchTab(&#39;recover&#39;)">Забыли пароль?</a></div></form></div><div class="modal_section"><h3>Войти через</h3><a class="btn-social is-google" href="#" social-login="google"><i class="icon icon_google"></i></a><a class="btn-social is-vk" href="#" social-login="vk"><i class="icon icon_vk"></i></a><a class="btn-social is-ok" href="#" social-login="ok"><i class="icon icon_ok"></i></a></div><div class="modal_section"><span class="auth_modal-switch">Первый раз на сайте? <a href="#" ng-click="switchTab(&#39;register&#39;)">Зарегистрируйтесь</a></span></div></div><div class="auth_modal-tab" ng-switch-when="register"><div class="modal_section"><h2>Регистрация</h2><form class="form"><div class="form_row"><input placeholder="Ваш мобильный телефон" type="text" /></div><div class="form_row"><input placeholder="Ваш пароль" type="text" /></div><div class="form_row"><button class="btn" type="submit">Войти</button></div><div class="form_row">Нажимая кнопку «Продолжить» <br />вы принимаете <a href="#">Условия соглашения</a></div></form></div><div class="modal_section"><h3>Зарегистрироваться через</h3><a class="btn-social is-google" href="#" social-login="google"><i class="icon icon_google"></i></a><a class="btn-social is-vk" href="#" social-login="vk"><i class="icon icon_vk"></i></a><a class="btn-social is-ok" href="#" social-login="ok"><i class="icon icon_ok"></i></a></div><div class="modal_section"><span class="auth_modal-switch">Уже зарегистрированны? <a href="#" ng-click="switchTab(&#39;login&#39;)">Войдите</a></span></div></div><div class="auth_modal-tab" ng-switch-when="recover"><div class="modal_section"><h2>Восстановление пароля</h2><form class="form"><div class="form_row"><input placeholder="Ваш мобильный телефон" type="text" /></div><div class="form_row"><button class="btn" type="submit">Отправить новый пароль</button></div></form></div><div class="modal_section"><span class="auth_modal-switch">Уже зарегистрированны? <a href="#" ng-click="switchTab(&#39;login&#39;)">Войдите</a></span></div></div></div></div></div>
