src/slim/views/basket.slim
.lyt-content[ng-controller="basketCtrl"]
  h2.h-tac Корзина

  .lyt-panel[ng-if="basket.length > 0"]
    .orderlist
      .orderlist_row[ng-repeat="item in basket"]
        .orderlist_cell.is-img
          img[alt="" ng-src="/i/products/{{item.img}}"]
        .orderlist_cell.is-description
          h3
            | {{item.title}}
          p
            | {{item.text}}
        .orderlist_cell.is-amount
          label.amount-input
            input[type="text" ng-model="item.amount" name="{{item.id}}" readonly="readonly"]
            span.amount-input-p[ng-click="modifyOrderCount('+', item)"] +
            span.amount-input-m[ng-click="modifyOrderCount('-', item)"] -
        .orderlist_cell.is-price
          | {{item.price * item.amount}}
          span.rub руб.
        .orderlist_cell.is-remove
          div[ng-click="removePosition(item)"] &times;

  .lyt-panel_footer[ng-if="basket.length > 0"]
    .orderlist_total
      ' Сумма заказа:
      span.lyt-panel-sum
        ' {{orderSum}}
        span.rub руб.
      button.lyt-panel-submit.btn[ng-click="orderForm()"] Оформить заказ
  div[ng-if="basket.length === 0"]
    .lyt-panel
      .orderlist
        h3.h-tac
          ' В корзине пока пусто
        p.h-tac
          ' вернуться
          a[href="/"] на главную

build/views/basket.html
<div class="lyt-content" ng-controller="basketCtrl"><h2 class="h-tac">Корзина</h2><div class="lyt-panel" ng-if="basket.length &gt; 0"><div class="orderlist"><div class="orderlist_row" ng-repeat="item in basket"><div class="orderlist_cell is-img"><img alt="" ng-src="/i/products/{{item.img}}" /></div><div class="orderlist_cell is-description"><h3>{{item.title}}</h3><p>{{item.text}}</p></div><div class="orderlist_cell is-amount"><label class="amount-input"><input name="{{item.id}}" ng-model="item.amount" readonly="readonly" type="text" /><span class="amount-input-p" ng-click="modifyOrderCount(&#39;+&#39;, item)">+</span><span class="amount-input-m" ng-click="modifyOrderCount(&#39;-&#39;, item)">-</span></label></div><div class="orderlist_cell is-price">{{item.price * item.amount}}<span class="rub">руб.</span></div><div class="orderlist_cell is-remove"><div ng-click="removePosition(item)">&times;</div></div></div></div></div><div class="lyt-panel_footer" ng-if="basket.length &gt; 0"><div class="orderlist_total">Сумма заказа: <span class="lyt-panel-sum">{{orderSum}} <span class="rub">руб.</span></span><button class="lyt-panel-submit btn" ng-click="orderForm()">Оформить заказ</button></div></div><div ng-if="basket.length === 0"><div class="lyt-panel"><div class="orderlist"><h3 class="h-tac">В корзине пока пусто </h3><p class="h-tac">вернуться <a href="/">на главную</a></p></div></div></div></div>
