build/views/home.html
<div class="lyt-hero" ng-if="state.sliderReady"><div class="hero" ng-controller="sliderCtrl"><input class="hero_bullet" id="heroSlide{{$index}}" name="heroSlider" ng-checked="$index == 0" ng-repeat-start="slide in slider" type="radio" /><div class="hero_slide" ng-repeat-end=""><label class="hero_nav hero_nav-left" for="heroSlide{{ ($index == 0) ? slider.length - 1 : $index - 1 }}">left</label><label class="hero_nav hero_nav-right" for="heroSlide{{ ($index == slider.length - 1) ? 0 : $index + 1 }}">right</label><img alt="" class="hero_slide-img" height="511" ng-src="/i/slider/{{slide.sliderImg}}" width="1366" /><div class="hero_slide-text"><h2 class="hero_slide-title">{{slide.title}}</h2><span class="hero_slide-price">{{slide.price}}<span class="rub">руб.</span></span><button class="hero_slide-btn" ng-click="addToOrder(slide, $event)">В корзину</button></div></div></div></div><div class="lyt-content"><h2 class="h-tac">Меню</h2><div class="lyt-grid" ng-if="state.productsReceived"><div card-dir="product" class="card" ng-repeat="product in products"><div class="card_media"><img alt="" class="card_media-img" height="260" ng-src="/i/products/{{product.img}}" width="260" /></div><div class="card_content"><div class="card_content-title">{{product.title}}</div><div class="card_content-text">{{product.text}}</div><div class="card_content-controls"><span class="card_control-price">{{product.price}}<span class="rub">руб.</span></span><label class="amount-input"><input name="{{product.id}}" ng-blur="checkInput(product)" ng-model="product.amount" readonly="readonly" type="text" /><span class="amount-input-p" ng-click="changeAmount(&#39;+&#39;, product)">+</span><span class="amount-input-m" ng-click="changeAmount(&#39;-&#39;, product)">-</span></label><button class="card_control-submit btn is-small" ng-click="addToOrder(product, $event)">В корзину</button></div></div></div></div><div class="lyt-grid is-centric"><div class="card is-about"><div class="card_media"><img alt="" class="card_media-img" src="/i/layout/salver.png" /></div><div class="card_content"><div class="card_content-title">Доставка</div><div class="card_content-text">При заказе от 3000 — бесплатно!<br />Среднее время доставки — 60 минут</div></div></div><div class="card is-about"><div class="card_media"><img alt="" class="card_media-img" src="/i/layout/clock.png" /></div><div class="card_content"><div class="card_content-title">Время работы</div><div class="card_content-text">Прием заказов: с 10:00 до 22:00<br />Доставка: с 10:00 до 23:00</div></div></div></div></div>

src/slim/views/home.slim
.lyt-hero[ng-if="state.sliderReady"]
  .hero[ng-controller="sliderCtrl"]
    input[ng-repeat-start="slide in slider" type="radio" name="heroSlider" id="heroSlide{{$index}}" class="hero_bullet" ng-checked="$index == 0"]
    .hero_slide[ng-repeat-end]
      label[for="heroSlide{{ ($index == 0) ? slider.length - 1 : $index - 1 }}" class="hero_nav hero_nav-left"] left
      label[for="heroSlide{{ ($index == slider.length - 1) ? 0 : $index + 1 }}" class="hero_nav hero_nav-right"] right
      img[ng-src="/i/slider/{{slide.sliderImg}}" alt="" width="1366" height="511" class="hero_slide-img"]
      .hero_slide-text
        h2.hero_slide-title
          | {{slide.title}}
        span.hero_slide-price
          | {{slide.price}}
          span.rub руб.
        button.hero_slide-btn[ng-click="addToOrder(slide, $event)"] В корзину


.lyt-content
  h2.h-tac Меню
  / Products grid
  .lyt-grid[ng-if="state.productsReceived"]
      .card[ng-repeat="product in products" card-dir="product"]
        .card_media
          img[class="card_media-img" width="260" height="260" alt="" ng-src="/i/products/{{product.img}}"]
        .card_content
          .card_content-title
            | {{product.title}}
          .card_content-text
            | {{product.text}}
          .card_content-controls
            span.card_control-price
              | {{product.price}}
              span.rub руб.
            label.amount-input
              input[type="text" readonly="readonly" ng-model="product.amount" name="{{product.id}}" ng-blur="checkInput(product)"]
              span.amount-input-p[ng-click="changeAmount('+', product)"] +
              span.amount-input-m[ng-click="changeAmount('-', product)"] -
            button[class="card_control-submit btn is-small" ng-click="addToOrder(product, $event)"] В корзину

  / Schedule and shipping
  .lyt-grid.is-centric

    .card.is-about
      .card_media
        img[class="card_media-img" alt="" src="/i/layout/salver.png"]
      .card_content
        .card_content-title Доставка
        .card_content-text
          | При заказе от 3000 — бесплатно!
          br
          | Среднее время доставки — 60 минут

    .card.is-about
      .card_media
        img[class="card_media-img" alt="" src="/i/layout/clock.png"]
      .card_content
        .card_content-title Время работы
        .card_content-text
          | Прием заказов: с 10:00 до 22:00
          br
          | Доставка: с 10:00 до 23:00
