src/slim/views/order.slim
div[ng-controller="orderCtrl"]
  .lyt-content[ng-if="basket.length > 0"]
    h2.h-tac Оформление заказа
    form.orderform[name="orderForm" novalidate]
      .orderform_content
        .orderform_content-col
          h3 Личные данные
          .form_row[ng-class="{'is-invalid' : orderForm.userName.$invalid && !orderForm.userName.$pristine}"]
            input[type="text" name="userName" ng-model="orderData.name" placeholder="Имя" ng-minlength="3" required ng-class="{'is-invalid': userName.$invalid}"]
            span.is-invalid-text Введите ваше имя
          .form_row[ng-class="{'is-invalid' : orderForm.userPhone.$invalid && !orderForm.userPhone.$pristine}"]
            input[type="text" name="userPhone" ng-model="orderData.phone" ui-mask="+7 (999) 999 99 99" ui-mask-placeholder="+7 (___) ___ __ __" autocomplete="off" required]
            span.is-invalid-text Укажите номер телефона
        .orderform_content-col
          h3 Адрес доставки
          .form_row
            input[type="text" ng-model="orderData.address" placeholder="Улица, дом, кв." ng-required="!orderData.userAddressByPhone"]
          .form_row
            label.checkbox
              input[type="checkbox" ng-model="orderData.userAddressByPhone" ]
              span Сообщить менеджеру по телефону
        .orderform_content-col
          h3 Способ оплаты
          .form_row
            label.radio
              input[name="payment" type="radio" ng-model="orderData.paymentType" value="cash" ng-value="cash"]
              span Наличными или картой курьеру
          .form_row
            label.radio
              input[name="payment" type="radio" ng-model="orderData.paymentType" value="card"]
              span Картой онлайн

      .orderform_footer
        ' Сумма заказа:
        span.lyt-panel-sum
          ' {{orderSum}}
          span.rub руб.
        button.lyt-panel-submit.btn[ng-click="prepareOrder(orderData)" ng-disabled="!orderForm.$valid" type="submit"] Оформить заказ

    / .lyt-panel_footer[ng-if="basket.length > 0"]

  / if empty basket
  .lyt-content[ng-if="basket.length === 0"]
    h2.h-tac Оформление заказа
    .lyt-panel
      .orderlist
        h3.h-tac
          ' Добавьте что-нибудь в корзину чтобы оформить заказ
        p.h-tac
          ' вернуться
          a[href="/"] на главную

build/views/order.html
<div ng-controller="orderCtrl"><div class="lyt-content" ng-if="basket.length &gt; 0"><h2 class="h-tac">Оформление заказа</h2><form class="orderform" name="orderForm" novalidate=""><div class="orderform_content"><div class="orderform_content-col"><h3>Личные данные</h3><div class="form_row" ng-class="{&#39;is-invalid&#39; : orderForm.userName.$invalid &amp;&amp; !orderForm.userName.$pristine}"><input name="userName" ng-class="{&#39;is-invalid&#39;: userName.$invalid}" ng-minlength="3" ng-model="orderData.name" placeholder="Имя" required="" type="text" /><span class="is-invalid-text">Введите ваше имя</span></div><div class="form_row" ng-class="{&#39;is-invalid&#39; : orderForm.userPhone.$invalid &amp;&amp; !orderForm.userPhone.$pristine}"><input autocomplete="off" name="userPhone" ng-model="orderData.phone" required="" type="text" ui-mask="+7 (999) 999 99 99" ui-mask-placeholder="+7 (___) ___ __ __" /><span class="is-invalid-text">Укажите номер телефона</span></div></div><div class="orderform_content-col"><h3>Адрес доставки</h3><div class="form_row"><input ng-model="orderData.address" ng-required="!orderData.userAddressByPhone" placeholder="Улица, дом, кв." type="text" /></div><div class="form_row"><label class="checkbox"><input ng-model="orderData.userAddressByPhone" type="checkbox" /><span>Сообщить менеджеру по телефону</span></label></div></div><div class="orderform_content-col"><h3>Способ оплаты</h3><div class="form_row"><label class="radio"><input name="payment" ng-model="orderData.paymentType" ng-value="cash" type="radio" value="cash" /><span>Наличными или картой курьеру</span></label></div><div class="form_row"><label class="radio"><input name="payment" ng-model="orderData.paymentType" type="radio" value="card" /><span>Картой онлайн</span></label></div></div></div><div class="orderform_footer">Сумма заказа: <span class="lyt-panel-sum">{{orderSum}} <span class="rub">руб.</span></span><button class="lyt-panel-submit btn" ng-click="prepareOrder(orderData)" ng-disabled="!orderForm.$valid" type="submit">Оформить заказ</button></div></form></div><div class="lyt-content" ng-if="basket.length === 0"><h2 class="h-tac">Оформление заказа</h2><div class="lyt-panel"><div class="orderlist"><h3 class="h-tac">Добавьте что-нибудь в корзину чтобы оформить заказ </h3><p class="h-tac">вернуться <a href="/">на главную</a></p></div></div></div></div>
